@font-face {
  font-family: 'LetoSans';

  src:    url('https://nomail.com.ua/files/eot/ddce18b1f0804a5282c4d3917a826884.eot?#iefix') format('embedded-opentype'),
  url('https://nomail.com.ua/files/woff/ddce18b1f0804a5282c4d3917a826884.woff') format('woff'),
  url('https://nomail.com.ua/files/woff2/ddce18b1f0804a5282c4d3917a826884.woff2') format('woff2');
}

@font-face {
  font-family: 'LetoSans-Bold';

  src:    url('https://nomail.com.ua/files/eot/33938841b9d3f84d94286e2ec5bf2268.eot?#iefix') format('embedded-opentype'),
  url('https://nomail.com.ua/files/woff/33938841b9d3f84d94286e2ec5bf2268.woff') format('woff'),
  url('https://nomail.com.ua/files/woff2/33938841b9d3f84d94286e2ec5bf2268.woff2') format('woff2');
}
