
$success-color: #12C98A;
$default-btn-color: #BDBDBD;
$hover-color: #2E09B6;
$border-color: #C0BAD5;
$form-border-color: #EDE8F7;
$form-active-color: #EDE8F;
$form-placeholder-color: #9B99AA;
$form-text-color: #1D1539;
$error-color: #F8478D;
$white: #FFFFFF;
$font: 'LetoSans', sans-serif;
$font-bold: 'LetoSans-Bold', sans-serif;
